﻿@import url(https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,300,500,700);

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
}

h1 {
    font-size: 2em;
    text-align: center;

    padding-bottom: 10px;
    border-bottom: 1px solid #111;
}

div.container {
    min-width: 400px;
    max-width: 700px;

    margin: auto;
}

div.form-line {
    width: 95%;
    margin: auto;
}

div.form-line.warning p {
    text-align: right;
    color: red;
}

div.form-line > label,
div.form-line > input,
div.form-line > p.label,
div.form-line > div.form-group {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
}

div.form-line > button {
    position: relative;
    left: 50%;
}

div.form-line > button:not(:only-child) {
    left: 0;

}

div.form-line:not(:first-child) {
    margin-top: 3px;
}

div.form-space {
    height: 10px;
}

div.form-group > div.form-group-item {
    display: block;
}

*:focus {
    outline: 0;
}

input[type=text],
input[type=email],
input[type=password] {
    box-sizing: border-box;
    padding: 0 10px;
    height: 25px;

    border: 1px solid #444;
    border-radius: 13px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

input[type=radio], input[type=checkbox] {
    margin: 0;
}

button, select {
    box-sizing: border-box;
    height: 25px;
    font-size: 1.1em;
}

button:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus,
select:focus {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 255, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 255, 0.75);
    box-shadow: 0 0 5px 0 rgba(0, 0, 255, 0.75);
}

label, p.label {
    font-size: 1.2em;
    vertical-align: top;
    margin: 0;
}

.radio-label {
    font-size: 1.1em;
    vertical-align: middle;
}